@font-face {
    font-family: 'whitney';
    src: url(../font/whitneymedium.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'whitney';
    /* border: black 2px dotted; */
}

.main-container{
    width: 100%;
}

button{
    color: black;
    background-color: white;
    border: none;
    padding: 15px 15px;
    font-size: 1em;
    border-radius: 25px;
    cursor: pointer;
}

.box{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{    
    display: flex;
    align-items: flex-start;
    
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}


/* start nav bar */
nav{
    padding-top: 17px;
    padding-bottom: 17px;

    background-color: #255ee9;
}

.logo{
    padding-top: 8px;
    min-width: 250px;

    text-align: start;
}

.nav-row{
    display: flex;
    align-items: center;
    
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

nav div .link{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav div ul{ 
    display: flex;
    gap: 50px;

    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

.login{
    min-width: 250px;

    text-align: end;
}
/* end nav bar */

/* start header */
header{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header-box{
    padding-top: 120px;
    padding-bottom: 150px;
}


header .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    width: 950px;

    text-align: center;
}

h1{
    width: 100%;

    margin-bottom: 30px;

    font-size: 3em;
}

p{
    width: 100%;

    padding: 0px 130px;

    font-size: 1.2em;
    line-height: 1.4em;
}

span{
    padding-right: 8px;
}
/* end header */

/* start main */
div.image-box{
    display: flex;
    justify-content: center;
    justify-items: flex-start;

    width: 750px;
}

div.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

h2{
    width: 100%;

    padding: 30px 130px 0px;
    margin-bottom: 36px;

    font-size: 3em;
}

div.reverse{
    flex-direction: row-reverse;
}

.bg-color{
    background-color: #f6f6f6;
}

.download-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
    text-align: center;
}

.star{
    background-image: url(../img/stars.svg);
    background-size: contain;
}

.img-item4{
    width: 100%;

    padding-top: 100px;
    padding-bottom: 100px;

    transform: scale(1.5);
}

h3{
    width: 100%;

    padding: 30px 130px 0px;
    margin-bottom: 36px;

    font-size: 2em;
}

.last-download{
    width: 100%;
    text-align: center;
}
/* end main */

/* start footer */
footer{
    padding-top: 100px;
    background-color: #23272a;
}

footer > div:first-child{
    margin-bottom: 30px;
}

.footer-link{
    display: flex;
}

.footer-box{
    width: calc(100% / 6);
}

.footer-box.big{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;

    padding: 0px 150px 0px 0px;
}

h4{
    margin-bottom: 10px;
    color: #5865f2;
    font-size: 2em;
}

.mini-svg-ita{
    width: 30px;
    height: 20px;
    
    margin-right: 8px;
}

.ita{
    color: white;
    font-size: 1.5em;
}

.arrow{
    width: 13px;
    height: 13px;
}

.mini-svg{
    width: 25px;
    height: 25px;

    margin: 25px 25px 0px 0px;
}

.footer-box ul li{
    margin-bottom: 25px;
    color: white;

    list-style: none;
    text-decoration: none;
}

.footer-box ul li h5{
    color: #5865f2;

    font-size: 1em;
}


.footer-end{
    padding-top: 35px;
    padding-bottom: 110px;

    justify-content: space-between;
    align-items: center;

    border-top: 2px #5865f2 solid;
}

/* end footer */